@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero__desc--projects,
.hero__heading--projects {
  color: $main--3;
}
.liu-icon--projects {
  width: 40%;
  align-self: flex-end;
  display: none;

  @include tablet {
    width: unset;
    position: absolute;
    scale: 70%;
    left: 140px;
    bottom: -15.4rem;
  }
}
