@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero__desc--connect,
.hero__heading--connect {
  color: $main--1;
}

.liu-icon--connect {
  width: 40%;
  bottom: 0;
  margin-top: 2.4rem;

  @include tablet {
    position: absolute;
    width: unset;
    scale: 70%;
    left: 140px;
    bottom: -15.8rem;
  }
}
