@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero__desc--connect,
.hero__heading--connect {
  color: $main--1;
}
.hero--connect {
  padding-bottom: 0;
}
.liu-icon--connect {
  width: 40%;
  margin-top: 2.4rem;
  align-self: center;

  @include tablet {
    align-self: center;
    width: 20rem;
    height: 20rem;
  }
}
