@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.connect-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  width: 100%;
}

.btn {
  font-family: "Nunito", sans-serif;
  background-color: $main--6;
  font-size: 2.4rem;
  padding: 1.6rem 2.4rem;
  border-radius: 1.6rem;
  border: none;
  transition: background-color 0.5s ease-out;

  &:hover {
    background-color: $accent--2;
    color: $main--1;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
  }
}

.btn--connect {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;

  &-about span {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.email-icon {
  fill: $main--1;
}
.linkedin-icon {
  stroke: $main--1;
}
