@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.tab-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  &__heading {
    font-family: "Nunito";
    font-size: 3.2rem;
    font-weight: 600;
    flex: 1;
    &--page {
      font-size: 3.6rem;
    }
  }

  &__subheading {
    font-family: "Nunito";
    font-size: 2.4rem;
    font-weight: 600;
  }
  &__section {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    background-color: #fffffe;
    border-radius: 1.6rem;
    padding: 3.2rem;
  }

  &__features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;

    &-list {
      flex: 1;
      font-size: 1.4rem;

      display: grid; /* Enable grid layout */
      grid-template-columns: repeat(2, 1fr); /* Two equal columns */
      gap: 2rem;
    }

    &-item {
      display: flex;
      gap: 0.8rem;
      flex-wrap: wrap;

      @include tablet {
        flex-wrap: nowrap;
      }
    }

    &-name {
      font-weight: 500;
      flex: 0 0 auto;
      min-width: 15rem;
      max-width: 30%;
    }
  }
  &__img {
    border: 1px solid $main--2;
    border-radius: 2rem;
    overflow: hidden;
  }
  &__overview {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  &__icons {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: 4.2rem;
    height: 4.2rem;
    display: block;
    margin: 1.6rem;

    &--check {
      width: 2.4rem;
      height: 2.4rem;
    }

    &--next {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__desc {
    font-size: 2rem;
    line-height: 3.2rem;
  }

  &__tags {
    display: flex;
    gap: 1.2rem;
    font-family: "Nunito";
    font-size: 1.6rem;
    line-height: 100%;
    font-weight: 700;
  }

  &__tag {
    padding: 0.8rem 1.6rem;
    background-color: #e3e3e3;
    border-radius: 8rem;
  }

  &__outcome {
    width: 100%;
    overflow: hidden;
    object-position: top;
    position: relative;

    & img {
      height: unset;
    }
  }
}
