@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../assets/fonts/source-sans-pro/SourceSansPro-Regular.otf")
    format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../../assets/fonts/source-sans-pro/SourceSansPro-Semibold.otf")
    format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../../assets/fonts/source-sans-pro/SourceSansPro-Bold.otf")
    format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../../assets/fonts/source-sans-pro/SourceSansPro-Black.otf")
    format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/nunito/Nunito-Medium.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/nunito/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 600;
}
