// SCREEN BREAKPOINTS:
$tablet: 768px;
$desktop: 1280px;

// COLORS:
// Primary colors:
// $main--1: #232946;
// $main--2: #5c6176;
// $main--3: #b8c1ec;
// $main--4: #f7f7f7;
// $main--5: #e3e3e3;
// $main--6: #fffffe;

$main--1: #253237;
$main--2: #5c6176;
$main--3: #c2dfe3;
$main--4: #f7f7f7;
$main--5: #e3e3e3;
$main--6: #fffffe;
$accent--1: #9c110d;
$accent--2: #ffbc42;
