@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.connect {
  margin: 0 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin: 0 0 8rem;

  @include tablet {
    display: block;
    margin: 0 0 8rem;
  }
}

.liu-icon--connect-mobile {
  display: none;
}
