@use "../../styles/partials/variables" as *;

.about {
  &-layout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    overflow-x: hidden;
    grid-template-areas:
      "text-journey main-img"
      "links main-img";
    gap: 2.4rem;
  }

  &-card {
    background-color: $main--6;
    border-radius: 1.6rem;
    overflow: hidden;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    color: $main--1;

    &__heading {
      font-size: 3.6rem;
      font-weight: 600;
      font-family: "Nunito", sans-serif;
    }

    &__desc {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      font-size: 2rem;
    }

    & img {
      border-radius: 1rem;
      height: auto !important;
    }
  }

  &-card--1 {
    grid-area: text-journey;
    height: 100%;
  }
  &-card--2 {
    grid-area: main-img;
    height: 84.5rem;
  }
  &-card--3 {
    grid-area: links;
    align-items: center;
    justify-content: center;
  }
}

.btn--connect-about {
  border: 1px solid $main--3;
}
