@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.about-page {
  width: 100%;
  gap: 2.4rem;
  overflow-x: hidden;
  display: flex;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    flex: 1;
  }
}

.about {
  &-card {
    background-color: $main--6;
    border-radius: 1.6rem;
    overflow: hidden;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    color: $main--1;

    @include tablet {
      padding: 3.2rem;
    }

    &__wrp-1 {
      flex: 1;
    }
    &__heading {
      font-size: 3.6rem;
      font-weight: 600;
      font-family: "Nunito", sans-serif;
    }

    &__desc {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      font-size: 2rem;
    }

    & img {
      border-radius: 1rem;
    }

    &--mobile {
      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;
      @include tablet {
        display: block;
      }
    }
  }

  &-card--1 {
    grid-area: text-journey;
    height: 100%;
  }
  &-card--2 {
    grid-area: main-img;
    height: 84.5rem;
    flex: 1;
  }
  &-card--3 {
    grid-area: links;
    align-items: center;
    justify-content: center;
  }
}
.btn--connect-about {
  border: 1px solid $main--3;
}
