@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.projects-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $main--1;
  overflow: hidden;
  margin: 0.8rem;

  @include tablet {
    margin: unset;
    margin: 0 3.2rem;
  }
}
