@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  z-index: 1000;
  padding: 5rem 1.6rem 0;
  position: fixed;

  &--open {
    background: $main--4;
    margin: 0;

    & .hamburger--primary .hamburger__line,
    & .hamburger--secondary .hamburger__line {
      background-color: $main--1;
    }
  }

  @include tablet {
    padding: 0;
    border-radius: 6.7rem;
    flex-direction: row;
    color: $main--1;
    max-width: 40rem;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: backdrop-filter 0.3s ease;
    margin: 2.4rem auto 3.6rem;
  }

  &.solid-header {
    @include tablet {
      background: $main--4;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      border-bottom: none;
      box-shadow: none;
    }
  }

  @include tablet {
    max-width: 70rem;
    display: flex;
  }
  &__wrp {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 1.6rem;

    @include tablet {
      width: unset;
      display: block;
      padding: unset;
    }
  }
}

.nav {
  padding: 0.8rem;
  width: 100%;
  display: none;

  @include tablet {
    display: block;
  }

  &-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    width: 100%;

    @include tablet {
      justify-content: space-between;

      flex-direction: row;
    }

    &__item {
      position: relative;
      flex: 1;
      flex-grow: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 100%;
      transition: all 0.5s ease-out;
      width: 100%;
      @include tablet {
        width: unset;
        flex-grow: 1;
      }
    }

    &__link {
      display: flex;
      padding: 1.6rem;
      color: #000;
      position: relative;
      height: 100%;
      z-index: 1;
      position: relative;
      border-radius: 20rem;

      flex: 1;
      justify-content: center;
      align-items: center;
      line-height: 100%;
      transition: all 0.5s ease-out;

      &:hover {
        background-color: #e2e8f0;
        border-radius: 20rem;
      }

      &--active {
        color: $main--4;
      }
    }
  }

  &--open {
    display: flex;
    height: 88vh;
  }
}
.dark-theme {
  height: 2.4rem;
  width: 2.4rem;
}

.active-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $main--1;
  border-radius: 20rem;
  z-index: -1;
  transition: background-color 0.3s ease;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  position: relative;
  transition: backdrop-filter 0.3s ease;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: 4rem;

  &--primary .hamburger__line {
    background-color: $accent--2;
    &:hover {
      background-color: $accent--1;
    }
  }

  .hamburger__line {
    background-color: $main--1;
    &:hover {
      background-color: $accent--2;
    }
  }

  &__line {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.4rem;
    transition: all 0.3s ease;
  }

  @include tablet {
    display: none;
  }
}
